<ion-view title="port checker">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
      <label class="item item-input">
          <span class="input-label">Domain Or IP</span>
          <input type="text" placeholder="www.google.com">
      </label>
      <label class="item item-input">
          <span class="input-label">Port</span>
          <input type="number" placeholder="80">
      </label>
      <button class="button button-block button-calm" ng-click="showAlert()">ippit</button>
  </ion-content>
</ion-view>
